@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Do you need help putting first things first? Using Stephen Covey's Time Management Matrix can help!</p>
</div>
<div class="text-center">
    <img src="wwwroot/img/timemanagement.png"></img>
</div>
